 .card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  .card-center {
    display: flex;
    justify-content: center;
  }
  
  .col {
    align-items: center;
  }

  .cards-header{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 76px;
  }